[submodule "alethic-ism-api"]
	path = alethic-ism-api
	url = https://github.com/quantumwake/alethic-ism-api.git
	branch = v0.1.37
[submodule "alethic-ism-core"]
	path = alethic-ism-core
	url = https://github.com/quantumwake/alethic-ism-core.git
	branch = v1.0.24
[submodule "alethic-ism-core-go"]
	path = alethic-ism-core-go
	url = https://github.com/quantumwake/alethic-ism-core-go.git
	branch = v0.1.14
[submodule "alethic-ism-db"]
	path = alethic-ism-db
	url = https://github.com/quantumwake/alethic-ism-db.git
	branch = v1.0.26
[submodule "alethic-ism-monitor"]
	path = alethic-ism-monitor
	url = https://github.com/quantumwake/alethic-ism-monitor.git
	branch = v0.1.6
[submodule "alethic-ism-processor-anthropic"]
	path = alethic-ism-processor-anthropic
	url = https://github.com/quantumwake/alethic-ism-processor-anthropic.git
	branch = v0.1.8
[submodule "alethic-ism-processor-gemini"]
	path = alethic-ism-processor-gemini
	url = https://github.com/quantumwake/alethic-ism-processor-gemini.git
	branch = v0.1.7
[submodule "alethic-ism-processor-llama"]
	path = alethic-ism-processor-llama
	url = https://github.com/quantumwake/alethic-ism-processor-llama.git
	branch = v0.1.5
[submodule "alethic-ism-processor-openai"]
	path = alethic-ism-processor-openai
	url = https://github.com/quantumwake/alethic-ism-processor-openai.git
	branch = v0.1.15
[submodule "alethic-ism-processor-python"]
	path = alethic-ism-processor-python
	url = https://github.com/quantumwake/alethic-ism-processor-python.git
	branch = v0.1.15
[submodule "alethic-ism-query-api"]
	path = alethic-ism-query-api
	url = https://github.com/quantumwake/alethic-ism-query-api.git
	branch = v0.1.4
[submodule "alethic-ism-state-router"]
	path = alethic-ism-state-router
	url = https://github.com/quantumwake/alethic-ism-state-router.git
	branch = v0.1.10
[submodule "alethic-ism-state-sync-store"]
	path = alethic-ism-state-sync-store
	url = https://github.com/quantumwake/alethic-ism-state-sync-store.git
	branch = v0.1.14
[submodule "alethic-ism-stream-api"]
	path = alethic-ism-stream-api
	url = https://github.com/quantumwake/alethic-ism-stream-api.git
	branch = v0.1.1
[submodule "alethic-ism-transformer-coalescer"]
	path = alethic-ism-transformer-coalescer
	url = https://github.com/quantumwake/alethic-ism-transformer-coalescer.git
	branch = main
[submodule "alethic-ism-transformer-composite"]
	path = alethic-ism-transformer-composite
	url = https://github.com/quantumwake/alethic-ism-transformer-composite.git
	branch = main
[submodule "alethic-ism-usage"]
	path = alethic-ism-usage
	url = https://github.com/quantumwake/alethic-ism-usage.git
	branch = v0.1.1
[submodule "alethic-ism-helm"]
	path = alethic-ism-helm
	url = https://github.com/quantumwake/alethic-ism-helm
	branch = main
[submodule "alethic-ism-ui"]
	path = alethic-ism-ui
	url = https://github.com/quantumwake/alethic-ism-ui
	branch = v1
[submodule "alethic-ism-online-cross-join"]
	path = alethic-ism-online-cross-join
	url = https://github.com/quantumwake/alethic-ism-online-cross-join
	branch = v0.1.6
[submodule "alethic-ism-state-online-join"]
	path = alethic-ism-state-online-join
	url = https://github.com/quantumwake/alethic-ism-state-online-join.git
	branch = v0.1.6
[submodule "alethic-ism-state-online-cross-join"]
	path = alethic-ism-state-online-cross-join
	url = https://github.com/quantumwake/alethic-ism-state-online-cross-join.git
	branch = v0.1.6
[submodule "alethic-ism-state-online-merge"]
	path = alethic-ism-state-online-merge
	url = https://github.com/quantumwake/alethic-ism-state-online-merge
	branch = v0.1.1
[submodule "alethic-ism-processor-mako"]
	path = alethic-ism-processor-mako
	url = https://github.com/quantumwake/alethic-ism-processor-mako.git
	branch = v0.1.7
[submodule "alethic-ism-state-tables"]
	path = alethic-ism-state-tables
	url = https://github.com/quantumwake/alethic-ism-state-tables.git
